<config>
    <machines>
        <!-- example -->
        <!-- <vm name="slackware_vm"/> -->
        <vm name="vm1"/>
        <vm name="vm2"/>
        <vm name="vm3"/>
    </machines>
    <local>
        <!-- example -->
        <!-- <backup path="/tmp/vm_backups"/> -->
        <backup path="/tmp/vm_backups"/>
    </local>
    <remote>
        <!-- example -->
        <!-- <machine ip="127.0.0.1" user="root" pass="123456" path="/usr/local/vm_backups"/> -->
        <machine ip="127.0.0.1" user="root" pass="123456" path="/usr/local/vm_backups"/>
    </remote>
</config>
